

nav ul li {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 0.8em;
}

nav ul li a {
  color: #222;
  text-decoration: none;
  display: block;
  margin-bottom: 8%;
}
nav ul li a:visited {
  color: #222;
  
}

nav ul li a:focus {
  outline: thin dotted;
}
nav ul li a:hover, nav ul li a:active {
  outline: 0;
}
body h1 {
  margin: 1%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 1.5em;
}

header img {
  float: none;
  width: 96%;
  margin: 2% 2% 0% 2%;
}

body p, body address {
  margin: 3.5% 1%;
  font-size: 1em;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-style: normal;
  height: 100%;
}

footer {
  text-align: center;
  font-size: 0.9em;
  margin-top: 4%;
  border-top: 3px solid rgba(128,98,26,1.00);
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  
  
}



/* =============================================
  Tablet layout styles used by devices
  481px to 768px and cascaded to larger 
  devices.
   =============================================
*/


html, body {
  font-size: 16px;
}

body {
  width: 89.9%;
  padding-left: 1.55%;
  padding-right: 1.55%;
  clear: none;
  float: none;
  margin-left: auto;
}

header h1 {
   font-size: 2.2em;
}

body article h1 {
   font-size: 1.75em;
}

article {
  width: 94%;
  float: none;
  margin: 0px auto;
}
dl#ct_locations {
  width: 57%;
  margin: 0px 0px 0px 20px;
}
dl {
  width: 90%;
    margin: 0 auto;
  text-align: left;
}
article img {
  float: right;
  width: 40%;
  margin: 0% 2% 2% 2%;
}
nav ul li {
  display: table-cell;
  width: 15%;
  text-align: center;
  margin-right: 2%;
  border: thin solid rgba(127,96,17,1.00);
  border-collapse: collapse;
}
/**PARA EL TAMAAÑO DEL CUADRO*/
nav ul li a {
  margin-bottom: 0;
}

/**AUI SE EDTA LA NAVEGACION */
nav {
  display: table;
  width: 96%;
  margin: 0px ;
  float: none;
}

nav ul {
  display: table-row;
  margin: 0;
}









/* =============================================
  Desktop layout styles used by  devices
  769px and larger.
   =============================================
*/



html, body {
  font-size: 20px;
}

html {
  background-color:lightseagreen;
  
}

body {
  width: 88.2%;
  max-width: 1600px;
  margin: 0px 100PX 10PX ;
  background-color:whitesmoke;
}

/**PARA HACER LA LISTA DESPLEGABLE DE LISTAS*/


ul, ol {
  list-style:none;
}

.nav > li {
  float:none;
}

.nav li a {
  background-color:cadetblue;
  color:black;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li a:hover {
  background-color:#434343;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}





