
.centrarImagen{
    height: 200 px; 
    width: 200px;
	margin-left:120px;
	border:5px solid black; 
	margin-top: 10px;
}

.centrarImagen2{
    height: 200 px; 
    width: 200px;
	margin-left:120px;
	border:5px solid white; 
	margin-top: 10px;
}

